<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.InformationMapper">

	<resultMap type="Information" id="InformationResult">
		<result property="informationContext"   column="information_context"   />
		<result property="isAnonymity"   column="is_anonymity"   />
		<result property="accessTime"   column="access_time"   />
		<result property="createBy"   column="create_by"   />
		<result property="createTime" column="create_time" />
	</resultMap>

	<select id="queryList" resultMap="InformationResult">
		select * from information
		<where>
			<if test="phone != null and phone != ''"><!-- 开始时间检索 -->
				AND phone like concat('%', #{phone}, '%')
			</if>
			<if test="createBy != null and createBy != ''"><!-- 开始时间检索 -->
				AND create_by like concat('%', #{createBy}, '%')
			</if>
			<if test="status != null"><!-- 状态 -->
				AND status = #{status}
			</if>
			<if test="params.beginAccessTime != null and params.beginAccessTime != ''"><!-- 开始时间检索 -->
				AND date_format(params.endAccessTime,'%y%m%d') &gt;= date_format(#{params.beginAccessTime},'%y%m%d')
			</if>
		</where>
		order by create_time
	</select>

</mapper> 